# OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_VERSION=

# Necessary to turn off authentication
ENVIRONMENT="local"
REPO="local-testing"

# MCP servers as JSON
MCP_SERVERS={"servers":[{"name":"test-mcp-server","url":"http://mcp-server:9000/mcp/"}]}
