---
import type { MCP_SERVER } from "../logic/get-servers";

const mcpServers: MCP_SERVER[] = [Astro.props.server];
const serversWithFailedConnections: string[] = [];
---

{/* <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">{ mcpTools.length } tool{ mcpTools.length === 1 ? '' : 's' } enabled</p> */}
<div class="hidden">     
  { mcpServers.map((server) =>
    <>
      <div class="tool-selector__server">
        <input id={ 'server-' + server.name } name="servers" type="checkbox" value={ server.name } checked  />
        <label for={ 'server-' + server.name }>{ server.name }</label>
      </div>
      { !serversWithFailedConnections.includes(server.name) && server.tools.length > 0 &&
        <div class="tool-selector__tools">
          { server.tools.map((tool) =>
            <>
              <input id={ 'tool-' + tool.name } name="tools" type="checkbox" value={ tool.name } checked />
              <label for={ 'tool-' + tool.name }>
                <span class="js-tool">{ tool.name }</span>
              </label>
            </>
          )}
        </div>
      }
    </>
  )}
</div>
