---
import { mcpServers } from '../logic/get-servers.ts';

// With the new AI SDK approach, we handle MCP connections at runtime
// So we just show the available servers without pre-fetching tools
---

{ mcpServers.map((server) =>
  <div class="govuk-checkboxes__item govuk-!-margin-top-2">
    <input class={ 'govuk-checkboxes__input plausible-event-name=Plugin+Click plausible-event-plugin=' + server.name } id={ 'tool-' + server.name } name="servers" type="checkbox" value={ server.name } aria-describedby={'tool-hint-' + server.name } />
    <label class="govuk-label govuk-checkboxes__label govuk-!-padding-right-0" for={ 'tool-' + server.name }>
      <span class="govuk-body-s">{ server.name }</span>
    </label>
    <div id={'tool-hint-' + server.name } class="tool-selector__tools govuk-hint govuk-checkboxes__hint govuk-!-margin-top-1 govuk-!-padding-0" style="font-size: 1rem;">
      <span class="govuk-body-xs" style="color: #505a5f;">{ server.description }</span>
    </div>
  </div>
)}


<style>
  .tool-selector__tools {
    span {
      color: #505a5f;
      position: relative; top: -2px;
    }
  }
  .tool-selector__exclamation {
    align-items: center;
    border: 1px solid;
    border-radius: 100%;
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    height: 12px;
    justify-content: center;
    padding: 3px;
    width: 12px;
  }
</style>
