---
import Layout from '../layouts/Layout.astro';
import ToolsAllServers from '../components/ToolsAllServers.astro';
import ToolsSingleServer from '../components/ToolsSingleServer.astro';
import LitWrapper from '../components/lit-wrapper.astro';
import LogoAnimation from '../components/LogoAnimation.astro';
import type { Message } from '../logic/ai3.ts';
import { getMcpServers } from '../logic/get-servers.ts';
import { getChat } from '../logic/database';


const { scope } = Astro.params;

// Get messages (if a chatid has been passed in)
let messages: Message[] | undefined = [];
const chatId = Astro.url.searchParams.get('chatid') || '-1';
if (chatId !== '-1') {
  const userEmail = await Astro.session?.get('user-email');
  messages = (await getChat(userEmail, chatId))?.messages;
}

const mcpServers = await getMcpServers(Astro.request.headers.get('x-amzn-oidc-accesstoken') || '');

const singleServer = mcpServers.find((server) => server.name.toLowerCase() === scope?.toLowerCase());

---

<Layout mcpServers={ mcpServers } selectedServer={ singleServer?.name }>

  <link rel="stylesheet" href="https://zurb.github.io/tribute/example/tribute.css" />

  <form method="POST" action="/post-message" enctype="application/x-www-form-urlencoded">

    <input type="hidden" name="scope" value={ scope || 'all' } />
    <input type="hidden" name="chatid" value={ chatId } />

    <div class="message-container">

      <div class="pt-7 text-center">
        <span class="bg-pink flex h-16 items-center justify-center mx-auto relative rounded-full text-white text-3xl w-16" aria-hidden="true">
          <span>{ singleServer?.name[0].toUpperCase() }</span>
          <img class="absolute inset-0 mx-auto" src={ '/server-logos/colour/' + (singleServer?.name.toLowerCase().replaceAll(' ', '_') || 'govai') + '.png' } alt="" />
          { !singleServer &&
            <LogoAnimation></LogoAnimation>
          }
        </span>
        <h1 class="font-bold mx-auto pt-2 text-5xl">Welcome to <span class="text-pink">{ singleServer ? singleServer.name : 'Caddy' }</span></h1>
        <p class="govuk-body mb-7! mt-3!" set:html={ singleServer? singleServer.description : 'A dedicated assistant for securely connecting to plugins' }></p>
      </div>

      <h2 class="govuk-visually-hidden">Messages</h2>

      <div id="message-container">

        { messages?.map((message) =>
          <LitWrapper>
            <message-box type={ message.type } content={ message.response.content } tool-calls={ JSON.stringify(message.response.tool_calls) }></message-box>
          </LitWrapper>
        )}

      </div>

    </div>


    <div class="prompt-box bg-background-grey px-3 py-2 govuk-!-margin-bottom-2">
      <message-input>
        <div class="prompt-box__label">
          <label class="font-bold text-md" for="prompt">Ask anything</label>
          <div id="prompt-hint" class="text-sm text-text-secondary">
            AI can make mistakes - check before using its output. Type @ to reference specific tools.
          </div>
          <id id="autocomplete-assistive-hint" style="display: none;">
            When autocomplete results are available use up and down arrows to review and enter to select. Touch device users, explore by touch or with swipe gestures.
          </id>
        </div>
        <textarea class="govuk-textarea govuk-!-margin-top-1 govuk-!-margin-bottom-2 prompt-box__textarea bg-white rounded-sm!" id="prompt" name="prompt" rows="2" required aria-describedby="prompt-hint autocomplete-assistive-hint"></textarea>
      </message-input>

      <div class="prompt-box__buttons">
        <div class="relative">
          { singleServer ?
            <ToolsSingleServer server={ singleServer } />
          :
            <tool-selector class="tool-selector">
              <details class="mb-2 md:mb-0">
                <summary class="border-1 border-pink border-solid cursor-pointer outline-pink px-2 py-1 rounded-sm text-[16px] text-pink w-[92px] focus-visible:outline-2 plausible-event-name=Expand+Plugins">Plugins</summary>
                <ToolsAllServers servers={ mcpServers } />
              </details>
            </tool-selector>
          }
          <model-selector class="[tool-selector+&]:left-21 top-0 md:mt-0 md:absolute">
            <label class="sr-only" for="model-selector">Mode</label>
            <select class="border-pink border-solid border-1 cursor-pointer inline-block min-h-[36px] mr-5 outline-pink px-2 py-[5px] rounded-sm text-pink w-40 focus-visible:outline-2" id="model-selector" name="model">
              <option value="bedrock-claude-3-7-sonnet" class="p-[4px]">
                <svg focusable="false" aria-hidden="true" width="20px" height="20px" viewBox="0 0 1200 1200"><path fill="#d97757" stroke="none" d="M 233.959793 800.214905 L 468.644287 668.536987 L 472.590637 657.100647 L 468.644287 650.738403 L 457.208069 650.738403 L 417.986633 648.322144 L 283.892639 644.69812 L 167.597321 639.865845 L 54.926208 633.825623 L 26.577238 627.785339 L 3.3e-05 592.751709 L 2.73832 575.27533 L 26.577238 559.248352 L 60.724873 562.228149 L 136.187973 567.382629 L 249.422867 575.194763 L 331.570496 580.026978 L 453.261841 592.671082 L 472.590637 592.671082 L 475.328857 584.859009 L 468.724915 580.026978 L 463.570557 575.194763 L 346.389313 495.785217 L 219.543671 411.865906 L 153.100723 363.543762 L 117.181267 339.060425 L 99.060455 316.107361 L 91.248367 266.01355 L 123.865784 230.093994 L 167.677887 233.073853 L 178.872513 236.053772 L 223.248367 270.201477 L 318.040283 343.570496 L 441.825592 434.738342 L 459.946411 449.798706 L 467.194672 444.64447 L 468.080597 441.020203 L 459.946411 427.409485 L 392.617493 305.718323 L 320.778564 181.932983 L 288.80542 130.630859 L 280.348999 99.865845 C 277.369171 87.221436 275.194641 76.590698 275.194641 63.624268 L 312.322174 13.20813 L 332.8591 6.604126 L 382.389313 13.20813 L 403.248352 31.328979 L 434.013519 101.71814 L 483.865753 212.537048 L 561.181274 363.221497 L 583.812134 407.919434 L 595.892639 449.315491 L 600.40271 461.959839 L 608.214783 461.959839 L 608.214783 454.711609 L 614.577271 369.825623 L 626.335632 265.61084 L 637.771851 131.516846 L 641.718201 93.745117 L 660.402832 48.483276 L 697.530334 24.000122 L 726.52356 37.852417 L 750.362549 72 L 747.060486 94.067139 L 732.886047 186.201416 L 705.100708 330.52356 L 686.979919 427.167847 L 697.530334 427.167847 L 709.61084 415.087341 L 758.496704 350.174561 L 840.644348 247.490051 L 876.885925 206.738342 L 919.167847 161.71814 L 946.308838 140.29541 L 997.61084 140.29541 L 1035.38269 196.429626 L 1018.469849 254.416199 L 965.637634 321.422852 L 921.825562 378.201538 L 859.006714 462.765259 L 819.785278 530.41626 L 823.409424 535.812073 L 832.75177 534.92627 L 974.657776 504.724915 L 1051.328979 490.872559 L 1142.818848 475.167786 L 1184.214844 494.496582 L 1188.724854 514.147644 L 1172.456421 554.335693 L 1074.604126 578.496765 L 959.838989 601.449829 L 788.939636 641.879272 L 786.845764 643.409485 L 789.261841 646.389343 L 866.255127 653.637634 L 899.194702 655.409424 L 979.812134 655.409424 L 1129.932861 666.604187 L 1169.154419 692.537109 L 1192.671265 724.268677 L 1188.724854 748.429688 L 1128.322144 779.194641 L 1046.818848 759.865845 L 856.590759 714.604126 L 791.355774 698.335754 L 782.335693 698.335754 L 782.335693 703.731567 L 836.69812 756.885986 L 936.322205 846.845581 L 1061.073975 962.81897 L 1067.436279 991.490112 L 1051.409424 1014.120911 L 1034.496704 1011.704712 L 924.885986 929.234924 L 882.604126 892.107544 L 786.845764 811.48999 L 780.483276 811.48999 L 780.483276 819.946289 L 802.550415 852.241699 L 919.087341 1027.409424 L 925.127625 1081.127686 L 916.671204 1098.604126 L 886.469849 1109.154419 L 853.288696 1103.114136 L 785.073914 1007.355835 L 714.684631 899.516785 L 657.906067 802.872498 L 650.979858 806.81897 L 617.476624 1167.704834 L 601.771851 1186.147705 L 565.530212 1200 L 535.328857 1177.046997 L 519.302124 1139.919556 L 535.328857 1066.550537 L 554.657776 970.792053 L 570.362488 894.68457 L 584.536926 800.134277 L 592.993347 768.724976 L 592.429626 766.630859 L 585.503479 767.516968 L 514.22821 865.369263 L 405.825531 1011.865906 L 320.053711 1103.677979 L 299.516815 1111.812256 L 263.919525 1093.369263 L 267.221497 1060.429688 L 287.114136 1031.114136 L 405.825531 880.107361 L 477.422913 786.52356 L 523.651062 732.483276 L 523.328918 724.671265 L 520.590698 724.671265 L 205.288605 929.395935 L 149.154434 936.644409 L 124.993355 914.01355 L 127.973183 876.885986 L 139.409409 864.80542 L 234.201385 799.570435 L 233.879227 799.8927 Z"/></svg>
                Claude Sonnet 3.7
              </option>
              <option value="gemini-2.5-flash" class="p-[4px]">
                <svg focusable="false" aria-hidden="true" fill="none" viewBox="0 0 16 16" width="20px" height="20px"><path d="M16 8.016A8.522 8.522 0 008.016 16h-.032A8.521 8.521 0 000 8.016v-.032A8.521 8.521 0 007.984 0h.032A8.522 8.522 0 0016 7.984v.032z" fill="url(#prefix__paint0_radial_980_20147)"/><defs><radialGradient id="prefix__paint0_radial_980_20147" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(16.1326 5.4553 -43.70045 129.2322 1.588 6.503)"><stop offset=".067" stop-color="#9168C0"/><stop offset=".343" stop-color="#5684D1"/><stop offset=".672" stop-color="#1BA1E3"/></radialGradient></defs></svg>
                Gemini Flash 2.5
              </option>
              <option value="o4-mini" class="p-[4px]">
                <svg focusable="false" aria-hidden="true" fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" role="img"><path d="M22.2819 9.8211a5.9847 5.9847 0 0 0-.5157-4.9108 6.0462 6.0462 0 0 0-6.5098-2.9A6.0651 6.0651 0 0 0 4.9807 4.1818a5.9847 5.9847 0 0 0-3.9977 2.9 6.0462 6.0462 0 0 0 .7427 7.0966 5.98 5.98 0 0 0 .511 4.9107 6.051 6.051 0 0 0 6.5146 2.9001A5.9847 5.9847 0 0 0 13.2599 24a6.0557 6.0557 0 0 0 5.7718-4.2058 5.9894 5.9894 0 0 0 3.9977-2.9001 6.0557 6.0557 0 0 0-.7475-7.0729zm-9.022 12.6081a4.4755 4.4755 0 0 1-2.8764-1.0408l.1419-.0804 4.7783-2.7582a.7948.7948 0 0 0 .3927-.6813v-6.7369l2.02 1.1686a.071.071 0 0 1 .038.052v5.5826a4.504 4.504 0 0 1-4.4945 4.4944zm-9.6607-4.1254a4.4708 4.4708 0 0 1-.5346-3.0137l.142.0852 4.783 2.7582a.7712.7712 0 0 0 .7806 0l5.8428-3.3685v2.3324a.0804.0804 0 0 1-.0332.0615L9.74 19.9502a4.4992 4.4992 0 0 1-6.1408-1.6464zM2.3408 7.8956a4.485 4.485 0 0 1 2.3655-1.9728V11.6a.7664.7664 0 0 0 .3879.6765l5.8144 3.3543-2.0201 1.1685a.0757.0757 0 0 1-.071 0l-4.8303-2.7865A4.504 4.504 0 0 1 2.3408 7.872zm16.5963 3.8558L13.1038 8.364 15.1192 7.2a.0757.0757 0 0 1 .071 0l4.8303 2.7913a4.4944 4.4944 0 0 1-.6765 8.1042v-5.6772a.79.79 0 0 0-.407-.667zm2.0107-3.0231l-.142-.0852-4.7735-2.7818a.7759.7759 0 0 0-.7854 0L9.409 9.2297V6.8974a.0662.0662 0 0 1 .0284-.0615l4.8303-2.7866a4.4992 4.4992 0 0 1 6.6802 4.66zM8.3065 12.863l-2.02-1.1638a.0804.0804 0 0 1-.038-.0567V6.0742a4.4992 4.4992 0 0 1 7.3757-3.4537l-.142.0805L8.704 5.459a.7948.7948 0 0 0-.3927.6813zm1.0976-2.3654l2.602-1.4998 2.6069 1.4998v2.9994l-2.5974 1.4997-2.6067-1.4997Z"/></svg>
                o4 mini
              </option>
            </select>
          </model-selector>
        </div>
        <div class="flex flex-col items-start mt-2 right-0 top-0 md:mt-0 md:absolute md:flex-row">
          <a class="border-pink border-solid border-1 focus:shadow-none! inline-block min-h-[36px] mr-2 no-underline! outline-offset-0 px-2 py-1 rounded-md w-[147px] focus:bg-transparent! focus:text-pink! focus:outline-pink! focus-visible:outline-2! plausible-event-name=New+Chat" href={ '/' + (scope ? 'scoped/' + scope : 'mixed-sources') }>Start a new chat</a>
          <button class="bg-pink border-pink border-solid border-1 cursor-pointer mt-2 outline-offset-4 outline-pink px-2 py-1 rounded-md text-white md:mt-0 plausible-event-name=Send+Prompt">Send</button>
        </div>
      </div>
    </div>

  </form>


  <script>
    
    import type { MessageInput } from '../components/message-input.mjs'

    const textArea = document.querySelector('message-input') as MessageInput;
    const form = document.querySelector('form') as HTMLFormElement
    let container = document.querySelector('#message-container') as HTMLElement
    form.addEventListener('submit', (evt) => {
      evt.preventDefault()

      const formData = new URLSearchParams(new FormData(form) as unknown as string[][]).toString()

      // set up new message
      let messageBoxUser = document.createElement('message-box')
      messageBoxUser.setAttribute('type', 'user')
      messageBoxUser.setAttribute('content', textArea.getValue().replace(/"/g, '&quot;'))
      container.appendChild(messageBoxUser)

      let messageBoxLLM = document.createElement('message-box')
      messageBoxLLM.setAttribute('type', 'llm')
      container.appendChild(messageBoxLLM)
      
      // send prompt
      window.localStorage.setItem('previous-prompt', textArea.getValue());
      fetch("/post-message", {
        method: "POST",
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: formData
      }).then(() => {
        window.localStorage.removeItem('previous-prompt');
      }).catch((err) => {
        // likely to be an authentication issue, reload the page
        
        window.location.reload();
      });

      textArea.reset();

    })

  </script>

  <script>
    import '../components/model-selector.ts'
    import '../components/loading-message.mjs'
    import '../components/markdown-converter.mjs'
    import '../components/message-box.mjs'
    import '../components/message-input.mjs'
    import '../components/tool-info.mjs'
    import '../components/tool-selector.ts'
  </script>

</Layout>


<style is:global>

  /* Sticky prompt area */
  @media (min-height: 660px) {
    body {
      height: 100vh;
      overflow-y: scroll;
    }
    .message-container {
      min-height: calc(100vh - 232px);
    }
    .prompt-box {
      bottom: 10px;
      position: sticky;
    }
  }

  /* Tribute autocomplete */
  body {
    position: relative;
  }
  .tribute-container {
    background-color: #efefef;
    border: 1px solid #b1b4b6;
    font-family: 'Inter', sans-serif;
    margin-top: 2px;

    ul {
      margin-top: 0 !important;
    }
    li {
      padding: 7px !important;
    }
    li:nth-child(odd) {
      background-color: #f3f2f1;
    }
    li:nth-child(even) {
      background-color: white;
    }
    li.highlight {
      background: var(--iai-pink) !important;
      color: white;
    }
  }

  .govuk-grid-column-one-quarter-from-desktop:has(.tool-selector) {
    position: sticky;
    top: 30px;
  }
  .tool-selector {
    display: block;
    .govuk-details__text {
      max-height: min(40vh, 25rem);
      overflow-y: scroll;
    }
    label {
      max-width: none;
    }
  }

  #loading[tabindex="-1"]:focus-visible {
    border-radius: 0.5rem;
    outline: 1px solid var(--iai-pink);
  }

  .message-box {
    border: 1px solid #b1b4b6;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
    padding: 1rem;
    * {
      word-wrap: break-word;
    }
  }
  .message-box--user {
    background-color: #fee7f4;
    border-color: var(--iai-pink);
    margin-right: 2.75rem;
  }
  .message-box--llm {
    margin-left: 2.75rem;
    position: relative;
  }
  .message-box--llm::before {
    background: url('/server-logos/colour/govai.png') no-repeat center/contain;
    border-radius: 100%;
    content: '';
    height: 2rem;
    left: -2.75rem;
    position: absolute;
    top: 0.25rem;
    width: 2rem;
  }
  .message-box:focus-visible {
    border: 2px solid #c50878;
    outline: none;
  }
  .message-box pre {
    overflow: scroll;
  }
  .message-box p:last-child {
    margin-bottom: 0.25rem;
  }
  .message-box li {
    margin-top: 1rem;
  }
  .message-box table {
    border-collapse: collapse;
  }
  .message-box td,.message-box th {
    border: 1px solid #b1b4b6;
    padding: 5px;
    text-align: left;
  }

  tool-info {
    display: block;
    margin-bottom: 15px;
    button {
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      gap: 0.75rem;
      position: relative;
      width: 100%;
    }
    button[aria-expanded="false"] + div {
      display: none;
    }
    button::after {
      color: #505a5f;
      content: '▼';
      position: absolute;
      right: 0;
      top: 5px;
    }
    button[aria-expanded="true"]:after {
      content: '▲';
    }
    .tool-info__icon {
      --size: 1.5rem;
      align-items: center;
      background-color: black;
      border-radius: 100%;
      box-sizing: border-box;
      color: white;
      display: flex;
      height: var(--size);
      justify-content: center;
      padding: 2px;
      position: relative;
      width: var(--size);
      img {
        position: absolute;
        top: 5%;
        width: 90%;
      }
    }
    .tool-info__text {
      text-align: left;
      span {
        display: block;
      }
      span:nth-child(2) {
        color: #505a5f;
      }
    }
    .tool-info__expandable {
      overflow-y: scroll;
      border-bottom: 1px solid #b1b4b6;
    }
    table {
      width: 100%;
    }
    td {
      border: 0 !important;
      border-top: 1px solid	#b1b4b6 !important;
      word-wrap: break-word;
    }
  }
  tool-info[in-use="true"] {
    button::after {
      top: 10px;
    }
    @media (prefers-reduced-motion: no-preference) {
      .tool-info__icon::after {
        animation: spin 1.2s linear infinite;
        border: 2px solid #ccc;
        border-top: 2px solid black;
        border-radius: 50%;
        content: ' ';
        display: block;
        height: calc(var(--size) + 8px);
        position: absolute;
        top: -4px;
        width: calc(var(--size) + 8px);
      }
    }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .prompt-box {
    border: 1px solid #b1b4b6;
    border-radius: 0.5rem;
  }
  @media (min-width: 1021px) {
    .prompt-box__label {
      align-items: center;
      display: flex;
      justify-content: space-between;
    } 
  }
  .prompt-box__textarea {
    border-width: 1px;
    min-height: 64px;
  }
  .prompt-box__buttons {
    min-height: 40px;
    position: relative;

    .govuk-details__summary {
      color: var(--iai-pink);
    }
    .govuk-button-group {
      flex-shrink: 0;
    }
  }

  .loading-ellipsis span {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin: 0 -2px;
  }
  .loading-ellipsis span:nth-of-type(1) {
    animation-name: rb-ellipsis-1;
  }
  .loading-ellipsis span:nth-of-type(2) {
    animation-name: rb-ellipsis-2;
  }
  .loading-ellipsis span:nth-of-type(3) {
    animation-name: rb-ellipsis-3;
  }
  @keyframes rb-ellipsis-1 {
    0% {
      opacity: 0;
    }
    24% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
  }
  @keyframes rb-ellipsis-2 {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes rb-ellipsis-3 {
    0% {
      opacity: 0;
    }
    74% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
  }

  /* Model selector */
  select, ::picker(select) {
    appearance: base-select;
  }
  ::picker(select) {
    background-color: var(--color-background-grey);
    border-radius: 0.25rem;
    border-color: var(--color-border-grey);
  }
  select::picker-icon {
    transition: 0.3s rotate;
  }
  select:open::picker-icon {
    rotate: 180deg;
  }

</style>
