---
import '../styles/global.css';
import 'dotenv/config';
import '../../node_modules/i.ai-design-system/dist/iai-design-system.css'
import LitWrapper from '../components/lit-wrapper.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Gov AI MCP Client</title>
		<script is:inline defer data-domain={ process.env['DOMAIN'] } src="https://plausible.io/js/script.hash.outbound-links.pageview-props.tagged-events.js"></script>
		<script is:inline>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
	</head>
	<body class="govuk-template__body govuk-frontend-supported">

		<LitWrapper>
			<iai-header product-name="GovAI Chat"></iai-header>
		</LitWrapper>

		<div class="govuk-width-container">
			<main class="govuk-main-wrapper govuk-!-padding-bottom-0 govuk-!-padding-top-2">
				<slot />
			</main>
		</div>

		<script>
			import '../../node_modules/i.ai-design-system/dist/iai-design-system.js'
		</script>

	</body>
</html>
